@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "JetBrains Mono", system-ui, sans-serif;
  }

  body {
    min-height: 100vh;
    position: relative;
    z-index: -100;
  }

  main {
    padding: 0 6rem 0 6rem;
  }

  h1 {
    font-size: 13rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  h2 {
    font-size: 8rem;
    font-weight: 700;
  }
  h3 {
    font-size: 3rem;
    font-weight: 700;
  }

  p {
    text-align: justify;
  }

  @media (max-width: 384px) {
    main {
      padding: 0 2rem 0 2rem;
    }

    h1 {
      font-size: 4rem;
      font-weight: 700;
      text-transform: uppercase;
    }
    h2 {
      font-size: 3rem;
      font-weight: 700;
    }
    h3 {
      font-size: 2rem;
      font-weight: 700;
    }
  }
}

:root {
  background-color: black;
  color: white;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
